@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
#container{
    display: flex;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}
.Personal{
    padding: 28px;
    background-color: #E6C0F1;
}

.Estudios{
    background-color: #D1A6DD;
    padding: 20px;
}
.Lenguajes{
    background-color:#B58AC1 ;
    padding: 18px;
    border: black;
    border-width: 2px;
}
.curso{
    text-align: center;
    background-color: #A050B6 ;

}
a:link{
    color: rgb(66, 168, 100);
    text-decoration:underline;
}
a:visited{
    color:  rgb(124, 34, 34);
    text-decoration: none;
}
.nombre{
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}
.redes{
    background-color: #A050B6 ;
}

.contact{
    text-align: right;
}
.foto{
    text-align: center;
}
.fotoo{
    width: 250px;
}